/* Header */
header h1 {
  text-align: center;
  padding: 35px 0;

  font-size: 16px;
  font-weight: 600;
}

.props {
  width: 150px;
  height: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  padding: 8px 5px;
  background: #32363C;
  margin: 10px 0;
  border-radius: 10px;
}


.props-container {
  gap: 10px;
}


.props h3 {
  font-size: 11px;
  font-weight: 500;
}


.props p {
  font-size: 11px;
  font-weight: 600;
}

.padd {
  padding: 0 0 7px 0;
}


/* Colors */
.orange {
  color: #F79841;
}



.purple {
  color: #6F72E2;
}


.green {
  color: #84CB69;
}


/* main h1 */
.main-h1 h1{
  font-size: 40px;
  font-weight: 700;
  padding: 10px 0 0 0;
}


.main-h1 {
  gap: 10px;
  padding: 34px 0 60px 0;
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.main button {
  background: transparent;
  border-radius: 50%;
  border: none;
}


.main button:focus {
  outline: none;
}


/* Energy */
.energy {
  justify-content: space-between;
  width: 350px;

  padding: 40px 0 10px 0;
}

/* Footer */
footer > .container {
  background: #32363CB2;
  width: 100%;

  display: flex;
  align-items: center;
  border-radius: 12px;
  margin: 30px 0 0 0;
}


footer .flex {
  gap: 20px;
  padding: 5px 10px;
}


ul .flex {
  flex-direction: column;
  align-items: center;
  gap: 7px;

  cursor: pointer;
}

/* Modal */
.modal {
  z-index: 999;
  background: #2C2F35;
  width: 380px;
  left: 50%;
  height: 60vh;
  position: absolute;

  /* opacity: 0.8; */
  top: 210px;
  border-radius: 20px;
  box-shadow: 4px 4px 10px 5px #00000040;

  border: 1px solid #8575756E;
  transform: translateX(-50%);
  padding: 30px;


  .exit {
    /* width: 100%;  */
    display: flex;
    justify-content: flex-end; 
    
    button {
      background: transparent;
      border: none;
    }
  }


  .card {
    justify-content: flex-start;
    background: #32363C;
    padding: 10px;
    margin: 10px 0 0 0;
    border-radius: 20px;
    
    main {
      border-bottom: 0.3px solid #FFFFFF33;   
      width: 100%;
      padding: 0 0 10px 0;   
    }


    .card-txt .flex {
      gap: 0;
    }
    
    .flex {
      gap: 20px;
      justify-content: flex-start;
    }

    .level {
      padding: 5px 20px;

      h5 {
        padding: 0 20px 0 0;
        height: 30px;

        display: flex;
        align-items: center;
        border-right: 0.3px solid #FFFFFF33;
      }

    }
  }
}


.earn {
  background: #2C2F35;
  border: 1px solid #8575756E;
  box-shadow: 4px 4px 10px 5px #00000040;
  border-radius: 20px;
  padding: 30px 22px;
  position: absolute;

  z-index: 999;

  .exit {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    button {
      background: transparent;
      border: none;
    }
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

    padding: 20px 0;
  }


  .flex {
    align-items: center;
  }

  .card {
    background: #32363C;
    padding: 5px 20px;
    border-radius: 20px;
    width: 190px;

    h6 {
      padding: 0 10px 0 0;
      border-right: 0.3px solid #FFFFFF33;
      height: 20px;

      display: flex;
      align-items: center;
    }

  }
}